.hero {
  min-height: 100vh;
  width: 100%;

  position: relative;

  display: flex;
  align-items: center;

 background-image:
  linear-gradient(
    90deg,
    rgba(15, 15, 15, 0.85) 0%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0.1) 100%
  ),
  url("/dv.png");

  background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.hero-content {
  width: 90%;
  max-width: 1400px;

  margin: auto;

  padding-top: 80px;

  position: relative;
  z-index: 2;
}

.hero-subtitle {
  color: #c9a24d;

  font-size: 12px;
  font-weight: bold;

  letter-spacing: 3px;

  margin-bottom: 20px;
}

.hero h1 {
  font-family: Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px 4px black;

  font-size: clamp(45px, 6vw, 95px);

  line-height: 1.05;

  font-weight: 700;

  letter-spacing: -2px;

  margin-bottom: 25px;
}

.hero h1 span {
  color: #c9a24d;
}

.hero-description {
  width: 100%;
  max-width: 500px;

  color: #d0d0d0;

  font-size: 16px;

  line-height: 1.7;

  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.primary-button,
.secondary-button {
  padding: 15px 28px;

  font-size: 11px;
  font-weight: bold;

  letter-spacing: 1.5px;

  cursor: pointer;

  transition: 0.3s;
}

.primary-button {
  background-color: #c9a24d;

  border: 1px solid #c9a24d;

  color: #e6dbdb;
}

.primary-button:hover {
  background-color: #e0ba61;
}

.secondary-button {
  background-color: transparent;

  border: 1px solid white;

  color: white;
}

.secondary-button:hover {
  background-color: white;
  color: black;
}

/* INDICAÇÃO PARA ROLAR */

.hero-scroll {
  position: absolute;

  bottom: 35px;
  left: 5%;

  display: flex;
  align-items: center;

  gap: 15px;

  color: #aaa;

  font-size: 10px;

  letter-spacing: 2px;
}

.scroll-line {
  width: 80px;
  height: 1px;

  background-color: #c9a24d;
}

/* RESPONSIVIDADE */

@media (max-width: 700px) {

  .hero {
    background-position: 65% center;
  }

  .hero-content {
    padding-top: 120px;
  }

  .hero h1 {
    font-size: 45px;
  }

  .hero-buttons {
    flex-direction: column;

    width: 100%;
    max-width: 250px;
  }

  .hero-scroll {
    display: none;
  }

}