.hero {
  min-height: 700px;

  display: flex;
  align-items: center;

  padding: 100px 7%;

  position: relative;

  background:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.87) 0%,
      rgba(255, 255, 255, 0) 35%,
      rgba(255, 255, 255, 0.15) 75%
    ),
    url("/public/dvf.png");

  background-size: cover;
  background-position: center;
}

.hero-content {
  max-width: 700px;
}

.hero-subtitle {
  color: var(--blue);

  font-size: 12px;
  font-weight: 800;

  letter-spacing: 4px;

  margin-bottom: 20px;
}

.hero h1 {
  font-family: "Oswald", sans-serif;

  font-size: clamp(55px, 8vw, 100px);

  line-height: 1;

  font-weight: 700;

  letter-spacing: 1px;

  margin-bottom: 30px;

  color: var(--black);
}

.hero-content > p:not(.hero-subtitle) {
  max-width: 520px;

  color: #555;

  font-size: 16px;

  line-height: 1.8;
}

.hero-button {
  display: inline-flex;

  margin-top: 35px;

  padding: 17px 35px;

  background: var(--blue);

  color: white;

  font-size: 12px;
  font-weight: 700;

  letter-spacing: 1px;

  transition: 0.3s;
}

.hero-button:hover {
  background: var(--blue-dark);

  transform: translateY(-3px);

  box-shadow:
    0 10px 30px rgba(0, 102, 204, 0.25);
}
