.finance {
  background-color: #111;
  color: white;

  padding: 110px 0;
}

.finance-container {
  width: 90%;
  max-width: 1400px;

  margin: auto;
}

.finance-content {
  display: grid;

  grid-template-columns: 1fr 450px;

  gap: 100px;

  align-items: center;
}


/* TEXTO */

.finance-subtitle {
  color: #c9a24d;

  font-size: 11px;

  font-weight: bold;

  letter-spacing: 3px;

  margin-bottom: 15px;
}

.finance-text h2 {
  font-size: clamp(35px, 5vw, 65px);

  font-weight: 500;

  line-height: 1.1;

  margin-bottom: 25px;
}

.finance-text h2 span {
  color: #c9a24d;
}

.finance-description {
  max-width: 550px;

  color: #a8a8a8;

  font-size: 16px;

  line-height: 1.8;

  margin-bottom: 45px;
}


/* BENEFÍCIOS */

.finance-benefits {
  display: flex;

  flex-direction: column;

  gap: 25px;
}

.benefit {
  display: flex;

  align-items: flex-start;

  gap: 20px;
}

.benefit-number {
  color: #c9a24d;

  font-size: 13px;

  font-weight: bold;
}

.benefit h3 {
  font-size: 12px;

  letter-spacing: 1px;

  margin-bottom: 8px;
}

.benefit p {
  color: #888;

  font-size: 13px;
}


/* CARD */

.finance-card {
  background-color: #181818;

  border: 1px solid #303030;

  padding: 40px;

  position: relative;
}

.finance-card::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #c9a24d;
}

.card-subtitle {
  color: #c9a24d;

  font-size: 10px;

  font-weight: bold;

  letter-spacing: 2px;

  margin-bottom: 15px;
}

.finance-card h3 {
  font-size: 27px;

  font-weight: 500;

  line-height: 1.2;

  margin-bottom: 35px;
}


/* INPUTS */

.finance-input {
  display: flex;

  flex-direction: column;

  gap: 10px;

  margin-bottom: 20px;
}

.finance-input label {
  color: #888;

  font-size: 10px;

  letter-spacing: 1.5px;
}

.finance-input input,
.finance-input select {
  width: 100%;

  height: 55px;

  padding: 0 15px;

  background-color: #101010;

  border: 1px solid #333;

  color: white;

  outline: none;

  font-size: 13px;

  transition: 0.3s;
}

.finance-input input:focus,
.finance-input select:focus {
  border-color: #c9a24d;
}


/* BOTÃO */

.finance-button {
  width: 100%;

  height: 55px;

  margin-top: 10px;

  background-color: #c9a24d;

  border: 1px solid #c9a24d;

  color: black;

  font-size: 11px;

  font-weight: bold;

  letter-spacing: 1.5px;

  cursor: pointer;

  transition: 0.3s;
}

.finance-button:hover {
  background-color: transparent;

  color: #c9a24d;
}

.finance-note {
  color: #666;

  text-align: center;

  font-size: 10px;

  margin-top: 20px;
}


/* RESPONSIVIDADE */

@media (max-width: 1000px) {

  .finance-content {
    grid-template-columns: 1fr;

    gap: 60px;
  }

  .finance-card {
    max-width: 550px;
  }

}

@media (max-width: 600px) {

  .finance {
    padding: 70px 0;
  }

  .finance-card {
    padding: 25px;
  }

  .finance-text h2 {
    font-size: 38px;
  }

}