.search-section {
  background-color: #111;
  padding: 100px 0;

  color: white;
}

.search-container {
  width: 90%;
  max-width: 1400px;

  margin: auto;
}

/* TÍTULO */

.search-title {
  margin-bottom: 45px;
}

.search-title p {
  color: #c9a24d;

  font-size: 11px;
  font-weight: bold;

  letter-spacing: 3px;

  margin-bottom: 12px;
}

.search-title h2 {
  font-size: clamp(28px, 4vw, 50px);

  font-weight: 500;

  letter-spacing: 1px;
}

/* FORMULÁRIO */

.search-form {
  display: grid;

  grid-template-columns:
    1fr
    1fr
    1fr
    auto;

  gap: 15px;

  background-color: #171717;

  padding: 30px;

  border: 30px solid #292929;
}

/* CAMPOS */

.search-group {
  display: flex;
  large: 100%;

  flex-direction: column;

  gap: 10px;
}

.search-group label {
  color: #aaa;

  font-size: 10px;

  letter-spacing: 1.5px;
}

.search-group input,
.search-group select {
  height: 52px;

  padding: 0 15px;

  background-color: #101010;

  border: 1px solid #333;

  color: white;

  outline: none;

  font-size: 13px;

  transition: 0.3s;
}

.search-group input:focus,
.search-group select:focus {
  border-color: #c9a24d;
}

.search-group select {
  cursor: pointer;
}

/* BOTÃO */

.search-button {
  align-self: end;

  height: 52px;

  padding: 0 30px;

  border: 1px solid #c9a24d;

  background-color: #c9a24d;

  color: black;

  font-size: 11px;

  font-weight: bold;

  letter-spacing: 1.5px;

  cursor: pointer;

  transition: 0.3s;
}

.search-button:hover {
  background-color: transparent;

  color: #c9a24d;
}

/* RESPONSIVIDADE */

@media (max-width: 900px) {

  .search-form {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 600px) {

  .search-section {
    padding: 70px 0;
  }

  .search-form {
    grid-template-columns: 1fr;

    padding: 20px;
  }

  .search-button {
    width: 100%;
  }

}